<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" href="static/css/style.css", filename= 'style.css'>-->
<!--    <title>SpotDL Web</title>-->
<!--</head>-->

<!--<body>-->
<!--        <div class="container">-->
<!--            <h1>Error 404</h1>-->
<!--            <h2>Il semble que vous soyez perdu. Revenez à la page d'accueil</h2>-->
<!--            <button class="btn" onclick="window.location.href = '/';">Accueil</button>-->
<!--        </div>-->

<!--</body>-->

{% extends 'layout.html' %}

{% block body %}

    <body>
        <div class="container">
            <h1>Error 404</h1>
            <h2>Il semble que vous soyez perdu. Revenez à la page d'accueil</h2>
            <button class="btn" onclick="window.location.href = '/';">Accueil</button>
        </div>

    </body>

{% endblock body %}