<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>SpotDL Web</title>
</head>

    <h1>SpotDL Web</h1>
    <div class="url">
    <form method="POST">
        <!-- <label for="url">URL:</label>
        <input type="text" name="url" id="url"> -->

        <div style="margin-top: 10px;">
            <label for="url1">URL 1:</label>
            <input type="text" name="url1" id="url1">
        </div>
            
        <div style="margin-top: 10px;">
            <label for="url2">URL 2:</label>
            <input type="text" name="url2" id="url2">
        </div>

        <div style="margin-top: 10px;">
            <label for="url3">URL 3:</label>
            <input type="text" name="url3" id="url3">
        </div>

        <div style="margin-top: 10px;">
            <label for="url4">URL 4:</label>
            <input type="text" name="url4" id="url4">
        </div>

        <div style="margin-top: 10px;">
            <label for="url5">URL 5:</label>
            <input type="text" name="url5" id="url5">
        </div>

        <div style="margin-top: 10px;">
            <input type="submit" value="Téléchargement">
        </div>

    </form>
    </div>


